body{
    margin: 0px;
}

.no-padding-y{
    padding-top: 0px;
    padding-bottom: 0px;
}
.font-color-white{
    color: white;
}


.green-bg-header{
    background-color: rgb(6, 170, 72);
}

.globo-com{
   color:  rgb(6, 105, 222);
}

.g1{
    color: rgb(196, 23, 12);
}

.ge{
    color: rgb(6, 170, 72);
}

.gshow{
    color: rgb(255, 103, 0);
}

.globoplay{
    color: rgb(251, 3, 52);
}

.cartola{
    color: rgb(227, 103, 43);
}

.sportv{
    color: rgb(8, 5, 58);
}