body{
    margin: 0px;
}


.flex{
    display: flex;
}

.font-size-medium{
    font-size: 20px;
}

.align-center{
    align-items: center;
}

/* .margin-x-axis-auto{
    margin: 0px auto;
} */

.search-background{
    background-color: green;
    border-radius: 10px;
}

.search-input{
    background-color: transparent;
    outline: none;
    border: none;
}

.search-input::placeholder{
    color: white;
    font-weight: bold;
}

.search-input:focus{
    color: transparent;
    outline: none;
}

.search-input:focus::placeholder{
    color: white;
}


.table>:not(caption)>*>* {
    box-shadow: none;
}
.justify-center{
    justify-content: center;
}

.height-100-px{
    height: 100px;
}

.disp-flex-center{
    display: flex;
    align-items: center;
}

.no-margin-x{
    margin: 0px 0px;
}
.padding-x{
    padding: 0px 6px;
}

.no-padding-y{
    padding-top: 0px;
    padding-bottom: 0px;
}
.font-color-white{
    color: white;
}
.item-left{
    color: black;
}
.item-left:hover{
    color: #1063e0;
}

.low-opacity{
    opacity: 0.6;
}

.low-opacity:hover{
    opacity: 1;
}


a.nav-link.font-color-white:hover{
    color: white !important;
}

.divider{
    border-right:2px dotted white;
    height: 30px;
}


.ge-txt{
    font-size: 30px;
    font-weight: bold;
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.brasileirao-txt{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.brasileirao-txt:hover{
    opacity: 0.7;
}

.search-pos{
    justify-content: flex-end;
}



.green-bg-header{
    background-color: rgb(6, 170, 72);
}

.globo-com{
   color:  rgb(6, 105, 222);
}

.g1{
    color: rgb(196, 23, 12);
}

.ge{
    color: rgb(6, 170, 72);
}

.gshow{
    color: rgb(255, 103, 0);
}

.globoplay{
    color: rgb(251, 3, 52);
}

.cartola{
    color: rgb(227, 103, 43);
}

.sportv{
    color: rgb(8, 5, 58);
}

.item{
    border-bottom: 3px solid transparent;
}
ul.item:hover{
    border-bottom: 0px solid transparent;
}

ul.navbar-nav.item li:hover{
    border-bottom: 3px solid transparent;
    border-color: unset;
    cursor: pointer;
}

.margin-bottom{
    margin-bottom: 10px;
}

.text-center{
    text-align: center;
    height: 50px;
}

.info-box{
    display: flex;
    width: 90%;
    margin: auto;
}

.table-box{
    padding-right: 30px;
    margin-right: auto;
}

.overflow{
                
    overflow-x: auto;
    
}

.line{
    height: auto;
    border-left: 1px solid #c9c4c4;
    padding-left: 24px;
    padding-right: 7px;
}

.table-size{
    width:700px;
}
/* .table{
    border-spacing: 0px;
} */
.table thead tr th{
    
    height: 45px;
    border-top: 1px lightgray solid;
    font-weight: 100;
    text-align: center;
}
/* .table tbody tr td{
    border-bottom: 1px lightgray solid;
} */
.teams{
    text-align: left;
    border-right: 1px #c9c4c4 solid;
}
 .table tbody tr td:nth-child(odd):not(:first-child){
    background-color: #f5f5f5;;
} 
.stadium-name{
    font-family: sans-serif;
    font-size: 12px;
    padding-left: 30px;
    padding-right: 5px;
}

.defeat{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: red;
    margin-left: 2px;
    margin-right: 2px;
}
.victory{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: green;
    margin-left: 2px;
    margin-right: 2px;
}
.draw{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: gray;
    margin-left: 2px;
    margin-right: 2px;
}

.ranking{
    font-weight: bold;
    color: aqua;
}

.round-selection-bar-arrow{
    width: 24px;
    height: 30px;
}



.round-selection-bar{
    font-size: 24px;
    font-weight: bold;
    justify-content: space-around;
    padding-bottom: 4px;
    padding-top: 4px;
    flex-direction: row;
    border-radius: 0px;
}

.game-info{
    Color:rgb(6, 170, 72);
    font-size:16px;
    font-weight: bold;
    text-decoration: none;
    font-family: sans-serif;
}

.card-body{
    border-top:1px solid lightgray;
    border-bottom: 1px solid lightgray;
    
}

.game{
    display: flex;
    flex-direction: column;
    margin: 7px 0px;
    border-bottom:1px solid lightgray;
    padding-bottom: 5px;
    height: 95px;
}
.place-time{
    display: flex;
    padding: 7px;
    font-family: sans-serif;
    font-size: 12px;
    align-items: center;
    justify-content: space-evenly;
}

.in-game{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playing-team{
    display: flex;
    padding: 2px 10px;
    align-items: center;
}
.playing-team div{
    margin-left:5px;
    margin-right:5px;
}
.matchInfo{
    font-size: 14px;
    padding-right: 30px;
}

@media (max-width:1199px){
    .container-right{
        display: none;
    }

    .info-box{
        margin:1%;
        width: 100%;

    }
    .table-size{
        width: 750px;
    }
}

@media (max-width:1064px){

}

@media (max-width: 991.5px) { 

    .flex{
        display:block;
    }

    .info-box{
        display: block;
    }
    .line{
        display: none;
    };
    .table-box{
        width: 100%
    }
    .table-box{
        width: 90%;
    }
    
    .table-box{
        padding-right: 0px;
        width: 100%;
    }
    .in-game{
        justify-content: center;
        font-size: 30px;
        font-family: sans-serif;
    }
    img{
        height: 60px;
        width: 60px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .table-size{
        width: 950px;
    }
    .game{
        height: 140px;
    }
}

@media (max-width:  767px){
    .table-size{
        width: 750px;
    }
 }

